<aside class="sidebar">

    <nav>

    <h3>Menu</h3>

        <ul class="sidebar-menu">

            <a
                href="{{ url_for('dashboard.dashboard') }}"
                class="{% if request.endpoint == 'dashboard.dashboard' %}active{% endif %}">
                Dashboard
            </a>

        <li class="sidebar-title">Cadastros</li>

            <a
                href="{{ url_for('usuario.listar') }}"
                class="{% if request.endpoint == 'usuario.listar' %}active{% endif %}">
                Usuários
            </a>

        <li>
            <a
                href="{{ url_for('motorista.listar') }}"
                class="{% if request.endpoint.startswith('motorista.') %}active{% endif %}">

                Motoristas

            </a>

        <li>
            <a href="#">Caminhões</a>
        </li>

        <li>
            <a href="#">Clientes</a>
        </li>

        <li>
            <a href="#">Administradoras</a>
        </li>

        <li>
            <a href="#">Tipos de Serviço</a>
        </li>

        <li>
            <a href="#">Tabela de Valores</a>
        </li>

        <li class="sidebar-title">Operações</li>

        <li>
            <a href="#">Atendimentos</a>
        </li>

        <li class="sidebar-title">Relatórios</li>

        <li>
            <a href="#">Em desenvolvimento...</a>
        </li>

        </ul>

    </nav>

</aside>