<aside class="sidebar">

    <nav>

    <h3>Menu</h3>

        <ul class="sidebar-menu">

            <a
                href="{{ url_for('dashboard.dashboard') }}"
                class="{% if request.endpoint == 'dashboard.dashboard' %}active{% endif %}">
                Dashboard
            </a>

        <li class="sidebar-title">Cadastros</li>

            <a
                href="{{ url_for('usuario.listar') }}"
                class="{% if request.endpoint == 'usuario.listar' %}active{% endif %}">
                Usuários
            </a>

        <li>
            <a
                href="{{ url_for('motorista.listar') }}"
                class="{% if request.endpoint.startswith('motorista.') %}active{% endif %}">

                Motoristas

            </a>

        <a
            href="{{ url_for('caminhao.listar') }}"
            class="{% if request.endpoint.startswith('caminhao.') %}active{% endif %}">

            Caminhões

        </a>

        <a
            href="{{ url_for('cliente.listar') }}"
            class="{% if request.endpoint.startswith('cliente.') %}active{% endif %}">

            Clientes

        </a>

        <a
            href="{{ url_for('administradora.listar') }}"
            class="{% if request.endpoint.startswith('administradora.') %}active{% endif %}">

            Administradoras

        </a>

        <a
            href="{{ url_for('tipo_servico.listar') }}"
            class="{% if request.endpoint.startswith('tipo_servico.') %}active{% endif %}">

            Tipos de Serviço

        </a>

        <a
            href="{{ url_for('tabela_valores.listar') }}"
            class="{% if request.endpoint.startswith('tabela_valores.') %}active{% endif %}">

            Tabela de Valores

        </a>

        <li class="sidebar-title">Operações</li>

        <a
            href="{{ url_for('atendimento.listar') }}"
            class="{% if request.endpoint.startswith('atendimento.') %}active{% endif %}">

            Atendimentos

        </a>

        <li class="sidebar-title">Relatórios</li>

        <li>
            <a href="#">Em desenvolvimento...</a>
        </li>

        </ul>

    </nav>

</aside>