{% extends "base.html" %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}

<div class="card">

    {% set voltar = url_for("motorista.listar") %}
    {% include "components/card_header.html" %}

    {% set detalhes = [

        {
            "label": "Matrícula",
            "valor": motorista.matricula
        },

        {
            "label": "Nome",
            "valor": motorista.nome
        },

        {
            "label": "Número da CNH",
            "valor": motorista.numero_cnh
        },

        {
            "label": "Categoria",
            "valor": motorista.categoria_cnh
        },

        {
            "label": "Validade da CNH",
            "valor": motorista.validade_cnh.strftime("%d/%m/%Y")
        },

        {
            "label": "Validade do Toxicológico",
            "valor": motorista.validade_toxicologico.strftime("%d/%m/%Y")
        },

        {
            "label": "Status",
            "valor": "Ativo" if motorista.ativo else "Inativo"
        }

    ] %}

    {% include "components/details_table.html" %}

    <div class="form-actions">

        <a
            href="{{ url_for('motorista.listar') }}"
            class="btn btn-secondary">

            Voltar

        </a>

        <a
            href="{{ url_for(
                'motorista.editar',
                id_motorista=motorista.id_motorista
            ) }}"
            class="btn btn-primary">

            Editar Motorista

        </a>

    </div>

</div>

{% endblock %}

{% block scripts %}

{{ super() }}

{% endblock %}