# ==========================
# Flask
# ==========================
FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=True

# ==========================
# Segurança
# ==========================
SECRET_KEY=sua_secret_key

# Senha inicial do administrador (seed.py)
ADMIN_PASSWORD=sua_senha

# ==========================
# PostgreSQL
# ==========================
POSTGRES_DB=sgjp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_postgres

#Banco de Dados
# Desenvolvimento (SQLite)
DATABASE_URL=sqlite:///sgjp.db
# Docker / VPS
DOCKER_DATABASE_URL=postgresql+psycopg://postgres:sua_senha_postgres@postgres:5432/sgjp

# Produção (Docker/VPS)
# DATABASE_URL=postgresql+psycopg://postgres:sua_senha_postgres@postgres:5432/sgjp

# ==========================
# Google Maps
# ==========================
GOOGLE_MAPS_API_KEY=sua_chave