# ==========================
# Ambiente Virtual
# ==========================
.venv/

# ==========================
# Cache do Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Arquivos compilados
# ==========================
*.pyd
*.pyo

# ==========================
# Banco SQLite
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Variáveis de ambiente
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/settings.json

# (Opcional)
# Se toda a equipe usar VS Code, remova esta linha
# e versione a pasta .vscode.
.vscode/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Cobertura de testes
# ==========================
.coverage
htmlcov/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db