/* =====================================================
   ÁREA PRINCIPAL DO LOGIN
===================================================== */

.login-main {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

}


/* =====================================================
   CONTAINER DO LOGIN
===================================================== */

.login-container {

    width: 100%;

    max-width: 1400px;

    margin: 0 auto;

    display: flex;

    justify-content: center;

    align-items: center;

}


/* =====================================================
   HEADER DA AUTENTICAÇÃO
===================================================== */

.auth-header {

    background-color: var(--color-primary);

    color: var(--surface);

    box-shadow: var(--shadow-sm);

}


.auth-header .auth-header-container {

    max-width: 1400px;

    margin: 0 auto;

    padding: 10px 32px;

    display: flex;

    align-items: center;

}


.auth-header .auth-header-title {

    display: flex;

    flex-direction: row;

    align-items: center;

    column-gap: 8px;

    margin: 0;

}


.auth-header .auth-header-name {

    margin: 0;

    padding: 0;

    font-size: 1.7rem;

    font-weight: 700;

    line-height: 1;

    color: rgba(255, 255, 255, .9);

}


.auth-header .auth-header-description {

    margin: 0;

    padding: 0;

    font-family: var(--font-family);

    font-size: 1.2rem;

    font-weight: 400;

    letter-spacing: 0.2px;

    line-height: 1;

    color: rgba(255, 255, 255, .88);

}   


/* =====================================================
   CARD DO LOGIN
===================================================== */

.login-card {

    width: 380px;

    background: var(--surface);

    border-radius: var(--radius-md);

    box-shadow: var(--shadow-md);

    padding: 28px 36px;

}

/* =====================================================
   LOGO DO LOGIN
===================================================== */

.login-logo {

    width: 105px;

    height: 105px;

    object-fit: contain;

    display: block;

    margin: 0 auto 10px;

}

/* =====================================================
   IDENTIFICAÇÃO DO SISTEMA
===================================================== */

.login-title {

    margin: 0 0 0px;

    color: var(--text-secondary);

    text-align: center;

    font-size: 1.7rem;

    font-weight: 700;

}


/* =====================================================
   FORMULÁRIO
===================================================== */

.login-form-group {

    display: flex;

    flex-direction: column;

    margin-bottom: 16px;

}


.login-form-group label {

    margin-bottom: 6px;

    font-weight: 600;

}


.login-form-group input {

    padding: 10px 14px;

    border: 1px solid var(--border-color);

    border-radius: var(--radius-sm);

}


/* =====================================================
   BOTÃO DE LOGIN
===================================================== */

.login-button {

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: var(--radius-sm);

    background: var(--color-primary);

    color: white;

    font-size: 1rem;

    font-weight: 600;

    cursor: pointer;

}


.login-button:hover {

    background: var(--color-primary-light);

}