<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}
                SGJP
            {% endblock %}
        </title>

        <!-- CSS -->

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/theme.css') }}">

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/base.css') }}">

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/layout.css') }}">

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/components.css') }}">

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/forms.css') }}">

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/tables.css') }}">
        
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/exportacao.css') }}">

        {% block styles %}

        {% endblock %}

    </head>

    <body>

        {% include "components/header.html" %}

        <main class="main">

            <div class="main-container">

                {% include "components/flash_messages.html" %}

                <div class="app-layout">

                    {% include "components/sidebar.html" %}

                    <section class="content">

                        {% block content %}

                        <h2>Bem-vindo ao SGJP</h2>

                        <p>
                            Sistema de Gerenciamento da JP Transportes.
                        </p>

                        {% endblock %}

                    </section>

                </div>

            </div>

        </main>

        {% include "components/footer.html" %}

        {% block scripts %}

        {% endblock %}

    </body>

</html>