{% extends "base.html" %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}

<div class="card">

    {% set voltar = url_for("tipo_servico.listar") %}

    {% include "components/card_header.html" %}


    <form
        method="POST"
        class="form"
    >

        {% if origem %}

            <input
                type="hidden"
                name="origem"
                value="{{ origem }}"
            >

        {% endif %}


        <div class="form-group">

            <label for="nome">

                Nome

            </label>


            <input
                type="text"
                id="nome"
                name="nome"
                value="{{ tipo_servico.nome if tipo_servico else '' }}"
                maxlength="100"
                autocomplete="off"
                placeholder="Nome do tipo de serviço"
                required
            >


            <small class="form-help">

                Informe o nome do tipo de serviço.

            </small>

        </div>


        {% set cancelar = url_for(
            "tipo_servico.listar"
        ) %}

        {% include "components/form_actions.html" %}

    </form>

</div>

{% endblock %}


{% block scripts %}

{{ super() }}

{% endblock %}